<?xml version='1.0' encoding='utf-8'?>
<context_info xmlns="http://canvas.instructure.com/xsd/cccv1p0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://canvas.instructure.com/xsd/cccv1p0 https://canvas.instructure.com/xsd/cccv1p0.xsd"><course_id>WEB1430-NEW</course_id><course_name>WEB 1430: Client-Side Web Development</course_name><root_account_id>0</root_account_id><root_account_name>Weber State University</root_account_name><root_account_uuid>43cc0769-362f-42c0-a4a9-7281e23ffbaf</root_account_uuid><canvas_domain>canvas.instructure.com</canvas_domain></context_info>